html,
body {
  height: 100vh !important;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

.backgroundColor {
  background-color: #654b60;
}

.main-div {
  background-color: white;
  border: 8px solid #2f1b72;
  min-height: 100vh;
  height: auto;
}

.navbar-style {
  background-color: rgb(47, 27, 114);
  width: 98%;
  border: 1px solid;
  border-radius: 5px;
}

.nav-tabs .nav-link.active {
  background-color: #6c4dd3 !important;
}

.nav-tabs .nav-link {
  color: white !important;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  border: none !important;
  border-radius: 0 !important;
}

.form-style {
  width: 50%;
  border: 20px solid #2f1b72;
  padding: 40px;
}

.forget-password-font {
  color: #2f1b72;
  font-size: 37px !important;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.forget-password-box {
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 30px;
  border-radius: 7px;
}

.du-name {
  font-weight: 700;
  color: #474489;
  font-family: 'Times New Roman', Times, serif;
}

.footer-style {
  background-color: #2f1b72;
  color: white;
  font-size: small;
}

.button-style {
  background-color: #2f1b72 !important;
  border: none !important;
}

.ant-upload-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-upload {
  width: 200px !important;
  height: 200px !important;
}

.ant-upload-list-item-container {
  width: 200px !important;
  height: 200px !important;
}

.ant-upload-list-item-actions a {
  display: none !important;
}

.main-loading {
  display: block !important;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
}

.main-panel {
  background: rgba(203, 203, 210, 0.15);
  position: relative;
  float: right;
  width: calc(100% - 260px);
}
.main-panel > .content {
  padding: 30px 15px;
  min-height: calc(100% - 123px);
}
.main-panel > .footer {
  border-top: 1px solid #e7e7e7;
}
.main-panel .navbar {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .form-style {
    width: 100%;
  }
}
